/**************************************************************************************************
 *
 *  @Section: Footer
 *
***************************************************************************************************/
.site-footer {
	position: relative;
	display:  block;
	width: 100%;
	padding: 80px 0 0;
	background-color: $white;

	#footer-widgets {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.footer-widgets-block {

			&:first-child {
				flex-basis: auto;
				width: 100%;

				h1 {
					color: $third-color;
					text-transform: uppercase;
					font-weight: bold;
					text-align: center;
				}
			}

			.widget-title {
				color: $black;
				text-transform: uppercase;
				font-weight: bold;
				@include font-size(1.4);
			}
		}
	}

	.site-info {
		position: relative;
		height: 356px;
		color: $white;
		background-color: $main-color;
		background-image: url("https://2018.managua.wordcamp.org/files/2018/05/banner-bkg_left.png"),
											url("https://2018.managua.wordcamp.org/files/2018/01/banner-bkg_right.png"),
											url("https://2018.managua.wordcamp.org/files/2018/03/waves-bkg.png");
		background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom left, bottom right, top center;
    background-size: 250px, 250px, cover;

    &:before {
    	content: '';
    	position: absolute;
    	top: 40px;
    	display: block;
			width: 200px;
			height: 200px;
			margin: 0 auto;
			background-image: url("https://2018.managua.wordcamp.org/files/2018/01/wcmga18-logo-only.png");
			text-indent: -9999px;
    	white-space: nowrap;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			z-index: 1000;
			@include centered-x;
    }

    &:after {
    	content: '';
    	position: absolute;
    	bottom: 50px;
    	display: block;
    	width: 50%;
    	border-bottom: 1px solid $white;
    	z-index: 1000;
    	@include centered-x;
    }

    .site-info-generator,
    .site-info-network {
    	color: $white;
			position: absolute;
			bottom: 15px;
    	display: block;
    	@include centered-x;

    	&:hover,
			&:focus,
			&:active {
				color: $third-color !important;
			}
    }

    .site-info-generator {
			margin-left: -100px;
    }

    .site-info-network {
    	margin-left: 100px;
    }
	}
}

@media only screen and (max-width: $breakpoint) {

  .site-footer {

    .site-info {
      background-position:  bottom left -60px, bottom right -20px, top center;
      background-size: 180px, 180px, cover;

      &:before {
        top: 20px;
      }

      &:after {
        display: none;
      }

      .site-info-generator,
      .site-info-network {
        padding: 5px 10px;
        margin-left: 0;
        color: $main-color;
        background-color: $white;
        text-align: center;
        white-space: nowrap;
      }

      .site-info-generator {
        bottom: 55px;
      }
    }
  }
}
