/**************************************************************************************************
 *
 *  @Section: Header
 *
***************************************************************************************************/
$header-height: 35vw;
$header-max-height: 600px;

.site-header {
	position: relative;
	width: 100%;
	height: $header-height;
	max-height: $header-max-height;
	min-height: auto;

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: $header-height;
		max-height: $header-max-height;
		min-height: auto;
		background-image: url("https://2018.managua.wordcamp.org/files/2018/01/banner-bkg_left.png"),
											url("https://2018.managua.wordcamp.org/files/2018/01/banner-bkg_right.png"),
											url("https://2018.managua.wordcamp.org/files/2018/01/banner-bkg.png");
		background-repeat: 	no-repeat,
												no-repeat,
												no-repeat;
		background-position: 	bottom left,
													bottom right,
													top center;
		background-size: 	42vh,
											42vh,
											cover;
		z-index: -1;
	}

	hgroup {
		position: absolute;
		display: inline-block;
		text-align: center;
		@include centered-xy;
	}

	.site-title {
		display: block;

		a {
			display: block;
			max-width: 270px;
			min-width: 150px;
			max-height: 270px;
			min-height: 150px;
			width: 18vw;
			height: 18vw;
			margin: 0 auto;
			background-image: url("https://2018.managua.wordcamp.org/files/2018/01/wcmga18-logo.png");
			text-indent: -9999px;
          	white-space: nowrap;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	.site-description {
		margin-top: 20px;
		color: $black;
		text-transform: uppercase;
	}
}

.widget-area.front-page {
	position: relative;

	.registration-button {
		position: absolute;
		top: -150px;
		@include centered-x;
	}
}

@media only screen and (max-width: $breakpoint) {

	.site-header {

		$header-height: 350px;
		$header-max-height: auto;

		height: $header-height;
		min-height: $header-max-height;

		&:before {
			height: $header-height;
			min-height: $header-max-height;
			background-position: center left 20%;
		}

		.site-description { @include font-size(1.6); }
	}

	.widget-area.front-page {

		.registration-button { top: -80px; }
	}
}
