/**************************************************************************************************
 *
 *  @Section: Layouts
 *
***************************************************************************************************/
.col {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 20px;

  &-half {
    width: 50%;
  }

  &-one_third {
    width: 33.333%;
  }

  &-two_third {
    width: 66.666%;
  }
}

@media only screen and (max-width: $tablet-portrait) {

  .col {
    display: block;
    float: none;
    margin: 0 0 50px;

    &-half,
    &-one_third,
    &-two_third {
      width: 100%;
    }
  }
}
