/**************************************************************************************************
 *
 *  @Section: Content
 *
***************************************************************************************************/
#main {
	position: relative;
	display: block;
	padding: 20px 0;
	width: 100%;
	min-height: 650px;
	background-color: $white;
	background-image: url("https://2018.managua.wordcamp.org/files/2018/03/triangles-bkg_white.png");
	background-repeat: no-repeat;
	background-position: top center;

	&:before,
	&:after { @include clearfix; }

	&:after { @include clearfix-after; }

	&:after {
		top: 100%;
	}

	&:before,
	&:after {
		display: none;
	}
}

#primary {
	position: relative;
	padding: 80px 0 20px;
	width: 100%;

	#content {
		padding-right: 30vw;
		@extend .container;

		article { margin-bottom: 0;

			.entry-content {
				padding: 20px 0;

				img {
					-webkit-box-shadow: -10px 10px 0px 0px $main-color;
					-moz-box-shadow: -10px 10px 0px 0px $main-color;
					box-shadow: -10px 10px 0px 0px $main-color;
				}
			}
		}
	}

}

#secondary {
	position: absolute;
	top: 0;
	right: 12.5%;
	width: 25vw;
	min-width: 250px;
	height: 1px;

	#primary-sidebar {
		padding: 80px 15px;

		.widget { margin-bottom: 20px;

			.widget-title {
				padding-bottom: 25px;
				text-transform: initial;
				letter-spacing: 0;
				font-weight: 700;
				@include font-size(2.4);

				&:after {
					content: '';
					position: absolute;
					display: block;
					margin-top: 15px;
					width: 40px;
					height: 1px;
					background-color: $white;
				}
			}
		}
	}

	.widget_wpcom_social_media_icons_widget {

		ul {
			margin: 0;
			padding: 0;
		    list-style-type: none;

		    > li {

				a { @include font-size(3); }
			}
		}
	}
}

#primary,
#secondary {
	color: $default-text;
	z-index: 1000;

	p {
		margin-bottom: 20px;
		line-height: 1.6;
	}

	a {
		text-decoration: none;
		display: inline-block;
		color: $dark-main-color;
		@include transition;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $light-main-color;

			.thumb { outline: 1px solid $white; }
		}
	}
}

.widget-area.front-page + .site-content > #content {

	// &:before {
	// 	content: 'Últimos Posts';
	// 	display: inline-block;
	// 	margin-bottom: 18px;
	// 	text-transform: uppercase;
	// 	letter-spacing: 2px;
	// 	font-weight: 700;
	// 	@include font-size(2);
	// }

	&:after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		margin-top: 120px;
		width: 40px;
		height: 1px;
		background-color: $white;
	}
}

.module-sponsors {
	background-image: url("https://2018.managua.wordcamp.org/files/2018/03/waves.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	min-height: 380px;
	text-align: center;
	color: $white;

	&:before {
		content: '';
		position: absolute;
		top: 100px;
		display: block;
		width: 261px;
		height: 30px;
		background-image: url("https://2018.managua.wordcamp.org/files/2018/03/icon-waves.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		@include centered-x;
	}

	.title {
		margin-top: 100px;
		color: $white;
		@include font-size(4);
	}
}


.widget {

	&.widget_wcorg_mailchimp_wiget {
		padding: 50px 20px;
		background-color: #9b93ae;
		background-image: url("https://2018.managua.wordcamp.org/files/2018/03/waves-purple-bkg.png");
		background-position: center;
		background-size: cover;
		@include rounded(5px);

		.widget-title {
			color: $white;
			text-align: center;
			width: 60%;
			margin: 0 auto;

			&:after { display: none !important; }
		}

		.wcorg-mailchimp {

			label {
				color: $white;
				margin-bottom: 5px;
			}

			input[type="text"] {
				width: 100%;
				margin-bottom: 10px;
			}

			input[type="submit"] {
				color: $white;
				background-color: $third-color;
				border: none;
				padding: 15px 25px;
				margin: 10px 0;
				width: 100%;
				text-transform: uppercase;
				font-family: $font-heading;
			}
		}
	}
}

@media only screen and (max-width: $tablet-portrait) {

	#primary {

		#content {
			width: 100%;
			padding: 0 20px;
			min-height: auto;
		}
	}

	#secondary {
		position: static;
		width: 100%;
		height: auto;
		padding: 0 20px;

		#primary-sidebar {
			padding: 0;
		}
	}
}
